<!doctype html>
<html ng-app ng-csp>
    <head>
        <title>Shortkeys Options</title>
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        <script src="../js/angular.min.js" type="text/javascript"></script>
        <script src="../js/options.js" type="text/javascript"></script>

    </head>
    <body bgcolor="Lightskyblue"> 
         <div align = 'center'>
        
<div class="container">
    <div class="page-header">
        <h1>SHORTKEYS for CHROME
        </h1>
    </div>
    <div class="row">
        <div class="span8">
            <p class="alert"><strong>You MUST save your Key combos after
                making changes here!</strong></p>

            <form class="well form-inline" ng-controller="OptionsCtrl">

                <div class="key-container" ng-repeat="key in keys">
                    <hr/>
                    <input ng-model="key.key" class="key"
                           placeholder="Key combo" type="text"/>
                    <select ng-model="key.action" class="action">
                        <optgroup label="Scrolling">
                            <option value="scrolldown">Scroll down</option>
                            <option value="scrolldownmore">Scroll down more
                            </option>
                            <option value="scrollup">Scroll up</option>
                            <option value="scrollupmore">Scroll up more</option>
                        </optgroup>
                        <optgroup label="Location">
                            <option value="back">Go back</option>
                            <option value="forward">Go forward</option>
                            <option value="reload">Reload page</option>
                        </optgroup>
                        <optgroup label="Tabs">
                            <option value="newtab">New tab</option>
                            <option value="closetab">Close tab</option>
                            <option value="nexttab">Next tab</option>
                            <option value="prevtab">Previous tab</option>
                        </optgroup>
                        <optgroup label="Zooming">
                            <option value="zoomin">Zoom In</option>
                            <option value="zoomout">Zoom Out</option>
                            <option value="zoomreset">Reset Zoom</option>
                        </optgroup>
                        <optgroup label="Javascript">
                            <option value="javascript">Run JavaScript</option>
                        </optgroup>
                    </select>

                    <div class="javascriptconfig">
                        <div class="javascriptconfigcode">
                            <div ng-show="key.action == 'javascript'"
                                 class="textarealabel">Javascript code to run
                            </div>
                            <textarea ng-show="key.action == 'javascript'"
                                      ng-model="key.code"
                                      class="code"></textarea>
                        </div>
                    </div>
                
                    <button ng-click="deleteKey($index)"
                            class="del-btn btn btn-danger"><i
                            class="icon-remove icon-white"></i> Delete
                    </button>
                </div>

                <div class="form-actions">
                    <button ng-click="addEmpty()" class="btn pull-left"><i
                            class="icon-plus"></i> Add
                    </button>
                    <div class="pull-right">
                        <button ng-click="saveKeys()" class="btn btn-success"><i
                                class="icon-ok icon-white"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div  class="span4">
            <p>Key combos are like(<code>ctrl</code>, <code>shift</code>,
                etc.) plus we have to add one regular key (letter keys, number keys, arrow
                keys, etc), all joined with <code>+</code> signs.</p>
            <p><b>Examples:</b></p>
            <ul>
                <code>e</code></br>
               <code>ctrl+h</code> (hold ctrl and then press h)</br>
                <code>shift+2</code>(hold shift and then press 2)</br>
            </ul>
            <p>In addition to regular letters, numbers, and punctuation, the
                following special keys can be used for shortcuts:
                <code>backspace</code>, <code>tab</code>, <code>clear</code>,
                <code>enter</code>, <code>return</code>, <code>space</code>,
                <code>up</code>, <code>down</code>, <code>left</code>, <code>right</code>,
                <code>end</code>,<code>del</code>, <code>delete</code>.</p>
                   
        </div>
    </div>

</div> 
</div>
       
</body>
</html>
