<!doctype html>
<html ng-app ng-csp>
    <head>
        <title>Shortkeys Options</title>
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        <script src="../js/angular.min.js" type="text/javascript"></script>
        <script src="../js/options.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    </head>
<body>
<div class="container">
    <div class="page-header">
        <h1>SHORTKEYS for CHROME
        </h1>
    </div>
    <div class="row">
        <div class="span8">
            <p class="alert"><strong>You MUST reload your browser or tabs after
                making changes here!</strong></p>

            <p class="settingssaved alert alert-success" style="display: none;">
                Options saved. Now please reload your browser tabs for the
                changes to take effect!</p>

            <p class="chromesyncsuccess alert alert-success"
               style="display: none;">Options synced to cloud.</p>

            <p class="chromesyncfailure alert alert-failure"
               style="display: none;">Sync to cloud failed.</p>

            <form class="well form-inline" ng-controller="OptionsCtrl">

                <table>
                    <tr>
                        <th>Key binding</th>
                        <th>Action</th>
                        <th>Active on</th>
                    </tr>
                </table>


                <div class="key-container" ng-repeat="key in keys">
                    <hr/>
                    <input ng-model="key.key" class="key"
                           placeholder="Key combo" type="text"/>
                    <select ng-model="key.action" class="action">
                        <optgroup label="Scrolling">
                            <option value="top">Scroll to top</option>
                            <option value="bottom">Scroll to bottom</option>
                            <option value="scrolldown">Scroll down</option>
                            <option value="scrolldownmore">Scroll down more
                            </option>
                            <option value="scrollup">Scroll up</option>
                            <option value="scrollupmore">Scroll up more</option>
                        </optgroup>
                        <optgroup label="Location">
                            <option value="back">Go back</option>
                            <option value="forward">Go forward</option>
                            <option value="reload">Reload page</option>
                        </optgroup>
                        <optgroup label="Tabs">
                            <option value="newtab">New tab</option>
                            <option value="closetab">Close tab</option>
                            <option value="nexttab">Next tab</option>
                            <option value="prevtab">Previous tab</option>
                        </optgroup>
                        <optgroup label="Zooming">
                            <option value="zoomin">Zoom In</option>
                            <option value="zoomout">Zoom Out</option>
                            <option value="zoomreset">Reset Zoom</option>
                        </optgroup>
                        <optgroup label="Javascript">
                            <option value="javascript">Run JavaScript</option>
                        </optgroup>
                    </select>
                    <select ng-model="key.blacklist" class="blacklist">
                        <option value="false">All sites</option>
                        <option value="true">All sites except...</option>
                        <option value="whitelist">Only on specific sites
                        </option>
                    </select>

                    <div ng-show="key.blacklist" class="textarealabel">
                        Blacklisted sites
                    </div>
                    <textarea ng-show="key.blacklist" ng-model="key.sites"
                              class="sites"></textarea>

                    <div ng-show="key.action == 'openbookmark'">
                        <div class="textarealabel">Full title of bookmark to
                            open
                        </div>
                        <input type="text" ng-model="key.bookmark" class="code">
                    </div>
                    <div class="javascriptconfig">
                        <div class="javascriptconfigcode">
                            <div ng-show="key.action == 'javascript'"
                                 class="textarealabel">Javascript code to run
                            </div>
                            <textarea ng-show="key.action == 'javascript'"
                                      ng-model="key.code"
                                      class="code"></textarea>
                        </div>
                    </div>
                    <div class="gototabconfig">
                        <div class="gototabmatchurl">
                            <div ng-show="key.action == 'gototab'"
                                 class="textarealabel">URL to match (ex: <code>*://*.amazon.com/*</code>)
                            </div>
                            <textarea ng-show="key.action == 'gototab'"
                                      ng-model="key.matchurl"
                                      class="taburl"></textarea>
                        </div>
                        <div class="gototabopenurl">
                            <div ng-show="key.action == 'gototab'"
                                 class="textarealabel">URL to open if no
                                matching tab found
                            </div>
                            <textarea ng-show="key.action == 'gototab'"
                                      ng-model="key.openurl"
                                      class="taburl"></textarea>
                        </div>
                    </div>
                    <button ng-click="deleteKey($index)"
                            class="del-btn btn btn-danger"><i
                            class="icon-remove icon-white"></i> Delete
                    </button>
                </div>

                <div class="form-actions">
                    <button ng-click="addEmpty()" class="btn pull-left"><i
                            class="icon-plus"></i> Add
                    </button>
                    <div class="pull-right">
                        <button ng-click="saveKeys()" class="btn btn-success"><i
                                class="icon-ok icon-white"></i> Save
                        </button>
                    </div>
                </div>
        <div class="span4">
            <p>Key combos are like(<code>ctrl</code>, <code>shift</code>,
                etc.) plus we have to add one regular key (letter keys, number keys, arrow
                keys, etc), all joined with <code>+</code> signs.</p>
            <p><b>Examples:</b></p>
            <ul>
                <li><code>e</code></li>
                <li><code>ctrl+h</code> (hold ctrl and then press h)</li>
                <li><code>shift+r</code>(hold shift and then press r)</li>
            </ul>
                   
        </div>
    </div>

</div>

</body>
</html>
